* {
  margin: 0px;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: fantasy;
  font-weight: bold !important;
}
.first-slide {
  background-color: #423d46;
  height: 100vh;
}

.first-slide-content-one {
  overflow: hidden;
  text-align: center;
  padding: 3em;
  padding-top: 2em;
  position: relative;
  /* width: 25%;
  height: 20%; */
  width: auto;
  max-width: 350px;
  height: auto;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -45%);
  animation: firstSlideOver 500ms ease 3000ms 1 forwards;
}

@keyframes firstSlideOver {
  from {
    opacity: 1;
    transform: translate(-50%, -45%) rotate(0deg);
    background: none;
    overflow: hidden;
  }
  to {
    opacity: 0;
    transform: translate(-50%, -45%) rotate(-90deg);
    background: #98def3;
    visibility: hidden;
  }
}

.hone {
  font-size: 4em;
  margin: 12px;
  color: antiquewhite;
  animation: leftText 1000ms ease 0s 1;
}
@keyframes leftText {
  from {
    opacity: 0;
    transform: scale(0) rotate(-45deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.htwo {
  font-size: 3em;
  color: beige;
  position: relative;
  animation: rightText 1000ms ease 0s 1;
}
@keyframes rightText {
  from {
    opacity: 0;
    transform: scale(0);
    top: -180px;
  }
  to {
    opacity: 1;
    transform: scale(1);
    top: 0;
  }
}

.top {
  position: absolute;
  top: 0;
  background-color: aqua;
  display: inline-block;
  left: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  animation: topLine 500ms ease 1000ms forwards;
}
.bottom {
  position: absolute;
  bottom: 0;
  background-color: aqua;
  display: inline-block;
  right: 0;
  width: 100%;
  height: 2px;
  opacity: 0;
  animation: topLine 500ms ease 2000ms 1 forwards;
}
@keyframes topLine {
  from {
    width: 0%;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

.right {
  position: absolute;
  background-color: aqua;
  display: inline-block;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  opacity: 0;
  animation: rightLine 500ms ease 1500ms 1 forwards;
}
.left {
  position: absolute;
  background-color: aqua;
  display: inline-block;
  left: 0;
  bottom: 0;
  width: 2px;
  opacity: 0;
  height: 100%;
  animation: rightLine 500ms ease 2500ms 1 forwards;
}
@keyframes rightLine {
  from {
    height: 0%;
    opacity: 0;
  }
  to {
    height: 100%;
    opacity: 1;
  }
}

/*first slide content two*/
.first-slide-content-two {
  text-align: center;
  padding: 3em;
  padding-top: 2em;
  position: absolute;
  width: auto;
  max-width: 350px;
  height: auto;
  overflow: hidden;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -45%);
  /* animation: secondSlideIn 500ms ease 5300ms 1 forwards; */
}

/* @keyframes secondSlideIn {
  from {
    overflow: hidden;
  }
  to {
    visibility: hidden;
  }
} */

.today {
  font-size: 3em;
  margin: 12px;
  color: antiquewhite;
  animation: today 500ms ease 3600ms 1 forwards;
  visibility: hidden;
}
.is,
.your {
  font-size: 1.5em;
  color: white;
  visibility: hidden;
}
.is {
  animation: is 300ms ease 4100ms 1 forwards;
}
.your {
  animation: your 300ms ease 4100ms 1 forwards;
}
.special-day {
  font-size: 4em;
  margin: 12px;
  color: antiquewhite;
  visibility: hidden;
  animation: special-day 700ms ease 4450ms 1 forwards;
}
@keyframes today {
  from {
    visibility: hidden;
    opacity: 0;
    transform: scale(0) rotate(-45deg);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
@keyframes is {
  from {
    visibility: hidden;
    transform: scale(0) translateX(-7em);
  }
  to {
    visibility: visible;
    transform: scale(1) translateX(0);
  }
}

@keyframes your {
  from {
    visibility: hidden;
    transform: scale(0) translateX(7em);
  }
  to {
    visibility: visible;
    transform: scale(1) translateX(0);
  }
}
@keyframes special-day {
  0% {
    transform: translateY(1200px) scale(0.5);
    opacity: 0.7;
    visibility: hidden;
  }

  60% {
    transform: translateY(0px) scale(0.5);
    opacity: 0.7;
    visibility: visible;
  }

  100% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }
}

.left-ballon {
  position: absolute;
  left: 0;
  bottom: 20vh;
  visibility: hidden;
  animation: unhide 100ms ease 5150ms 1 forwards;
}
.right-ballon {
  position: absolute;
  right: 0;
  bottom: 20vh;
  visibility: hidden;
  animation: unhide 100ms ease 5150ms 1 forwards;
}

@keyframes unhide {
  from {
    visibility: hidden;
  }
  to {
    visibility: visible;
  }
}

/*seccond slide*/

.second-slide {
  background: url("./Star.png") blue;
  visibility: hidden;
  animation: secondSlideIn 1000ms ease 6000ms 1 forwards;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

@keyframes secondSlideIn {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

.top-image {
  height: 20vh;
  background: url("./cover.png") repeat;

  animation: topImage 1000ms ease 6500ms 1 forwards;
}
@keyframes topImage {
  from {
    opacity: 0;
    transform: translateX(-100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.bottom-image {
  height: 20vh;
  background: url("./cover.png") repeat;
  animation: bottomImage 1000ms ease 6500ms 1 forwards;
}
@keyframes bottomImage {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.main-content {
  height: 60vh;
  padding-top: 20vh;
  padding-bottom: 20vh;
}

.main {
  height: 20vh;
  background-color: cornsilk;
  font-size: 6em;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  padding: 5px;
  visibility: hidden;
  color: rgb(255, 1, 1);
  animation: divIn 500ms ease 7500ms 1 forwards;
}
@keyframes divIn {
  from {
    transform: translateX(-100vw);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}
@media screen and (max-width: 900px) {
  .main {
    font-size: 4em;
  }
}
@media screen and (max-width: 700px) {
  .main {
    font: 3em;
  }
}
@media screen and (max-width: 600px) {
  .main {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 500px) {
  .main {
    font-size: 2em;
  }
}

* {
  box-sizing: border-box;
}

.happy {
  margin: 5vw;
}

.animateone {
  animation: animate 500ms ease 8100ms 1 forwards;
  visibility: hidden;
}
.animatetwo {
  animation: animate 500ms ease 8600ms 1 forwards;
  visibility: hidden;
}
.animatethree {
  animation: animate 500ms ease 9100ms 1 forwards;
  visibility: hidden;
}
.animatefour {
  animation: animate 500ms ease 9600ms 1 forwards;
  visibility: hidden;
}
.animatefive {
  animation: animate 500ms ease 10100ms 1 forwards;
  visibility: hidden;
}
.animatesix {
  animation: animate 500ms ease 10600ms 1 forwards;
  visibility: hidden;
}
.animateseven {
  animation: animate 500ms ease 11100ms 1 forwards;
  visibility: hidden;
}
.animateeight {
  animation: animate 500ms ease 11600ms 1 forwards;
  visibility: hidden;
}
.animatenine {
  animation: animate 500ms ease 12100ms 1 forwards;
  visibility: hidden;
}
.animateten {
  animation: animate 500ms ease 12600ms 1 forwards;
  visibility: hidden;
}
.animateeleven {
  animation: animate 500ms ease 13100ms 1 forwards;
  visibility: hidden;
}
.animatetwe {
  animation: animate 500ms ease 13600ms 1 forwards;
  visibility: hidden;
}
.animatethirteen {
  animation: animate 500ms ease 14100ms 1 forwards;
  visibility: hidden;
}
@keyframes animate {
  from {
    opacity: 0;
    visibility: hidden;
  }
  5% {
    visibility: visible;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
